---
layout: home
header:
    overlay_image: /assets/images/IMG_4906.jpg
    caption: "Photo by Yuta Kochi"
author_profile: false
---









<div style="text-align:center; margin-bottom:30px;">
    <img src="{{ site.baseurl }}/assets/images/IMG_3453.JPG" alt="Profile Image"
        style="width:150px; height:150px; border-radius:50%; object-fit:cover;">
    <h2 style="margin:10px 0;">Yuta Kochi</h2>
    <p style="margin:2px 0;">PhD student at Keio University</p>
    <p style="margin:2px 0;">JSPS Research Fellowship for Young Scientists (DC1)</p>
    <p style="margin:2px 0;">
        <i class="fas fa-map-marker-alt"></i>
        <a href="https://maps.app.goo.gl/hjsvirrwMaprJHFU9" style="text-decoration:none; color:inherit;">
            Keio University, Japan
        </a>
    </p>
    <p style="margin:2px 0;">
        <i class="fas fa-envelope"></i>
        <a href="mailto:yuta.kouchi@keio.jp" style="text-decoration:none; color:inherit;">
            yuta.kouchi@keio.jp
        </a>
    </p>
    <p style="margin:2px 0;">
        <i class="fas fa-link"></i>
        <a href="https://www.appi.keio.ac.jp/hayase/" style="text-decoration:none; color:inherit;">
            Hayase Lab.
        </a>
    </p>
</div>


{% for post in posts %}
<article style="display: flex; align-items: center; margin-bottom: 20px;">
    {% if post.header.image %}
    <img src="{{ post.header.image }}" alt="thumbnail"
        style="width: 150px; height: 100px; object-fit: cover; margin-right: 20px; border-radius: 8px;">
    {% endif %}
    <div>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
    </div>
</article>
{% endfor %}

